[program:iphy]
directory=PROJECT_ROOT/
command=PROJECT_ROOT/bin/gunicorn --bind 127.0.0.1:5000 --workers 2 --log-file PROJECT_ROOT/var/iphy.app-instance/logs/gunicorn.log iphy.manage:app
autostart=true
autorestart=true
redirect_stderr=true

[program:mongo-iphy]
directory=PROJECT_ROOT/
command=PROJECT_ROOT/bin/mongod --smallfiles --oplogSize 1024 --dbpath PROJECT_ROOT/var/iphy.app-instance/data/0/ --port 27000 --logpath PROJECT_ROOT/var/iphy.app-instance/logs/mongo0.log
autostart=true
autorestart=true
redirect_stderr=true

[unix_http_server]
file=PROJECT_ROOT/var/iphy-instance/supervisor//supervisor.sock   ; (the path to the socket file)
chmod=0700                       ; sockef file mode (default 0700)

[supervisord]
directory=PROJECT_ROOT/
logfile=PROJECT_ROOT/var/iphy-instance/supervisor/supervisord.log ; (main log file;default $CWD/supervisord.log)
pidfile=PROJECT_ROOT/var/iphy-instance/supervisor/supervisord.pid ; (supervisord pidfile;default supervisord.pid)
childlogdir=PROJECT_ROOT/var/iphy-instance/supervisor            ; ('AUTO' child log dir, default $TEMP)

; the below section must remain in the config file for RPC
; (supervisorctl/web interface) to work, additional interfaces may be
; added by defining them in separate rpcinterface: sections
[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix://PROJECT_ROOT/var/iphy-instance/supervisor//supervisor.sock ; use a unix:// URL  for a unix socket

